.field {
    cursor: pointer;
    background-color: red;
    width: 300px;
    height: 1px;
}

#gameBoard {
    width: 300px;
    height: 300px;
    border: 1px solid black;
}

.tile {
   background-color: blueviolet;
   width: 30px;
   height: 30px;
}

.tile :after {
    content: "X";
    font-family: 'Gaegu', cursive;
}
 

